ion-list{
  ion-item{
    border: 1px solid var(--ion-color-light);
    border-radius: 20px;
    -webkit-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    -moz-box-shadow: 0 6px 4px -4px var(--ion-color-medium);
    box-shadow: 0 6px 4px -4px var(--ion-color-medium);
  }
}
.underline {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 80px;
  color: rgb(0, 250, 0);
}
.ion-margin{
  margin-top: 50px;
}
//ion-button{
/*.btn-sign {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}*/
//}
.img1{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
  margin-right: 1rem;
  margin-top: 3rem;
}

